{
  "plugins": [
    "transform-object-rest-spread",
    "transform-flow-comments",
    "transform-runtime",
    "add-module-exports"
  ],
  "presets": [
    "es2015",
    "es2016",
    "es2017"
  ]
}
