{
  "plugins": [
    "transform-object-rest-spread",
    "transform-flow-comments",
    "transform-runtime",
    "add-module-exports"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ]
  ]
}
