{
  "extends": [
    "canonical",
    "canonical/flowtype"
  ],
  "root": true,
  "rules": {
    "flowtype/no-weak-types": 0,
    "flowtype/require-parameter-type": 0,
    "flowtype/require-return-type": 0
  },
  "plugins": [
    "promise"
  ]
}